/*import fonts*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

/*style-guide value*/

:root {
    /*COLORS - PRIMARY*/
    --clr-main-bg: hsl(233, 47%, 7%);
    --clr-card-bg: hsl(244, 38%, 16%);
    --clr-accent: hsl(277, 64%, 61%);
    /*COLORS - NEUTRAL*/
    --clr-main-p: hsla(0, 0%, 100%, 0.75);
    --clr-stat-h: hsla(0, 0%, 100%, 0.6);
    --clr-white: hsl(0, 0%, 100%);
    /* TYPOGRAPHY */
    --fs-body: 15px;
    --ff-primary: 'Inter', sans-serif;
    --ff-secondary: 'Lexend Deca', sans-serif;
    --fw-400: 400;
    --fw-700: 700;
    /*BORDERS*/
    --border-radius: 1rem;
}

body {
	/* Body fit 100% of the html*/
	min-height: 100vh;
	margin: 0;


	/* center div inside body*/

    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    font-weight: var(--fw-400);
    background: var(--clr-main-bg);

	display: flex;
	align-items: center;
	justify-content: center;

}


.card {
	background: var(--clr-card-bg);
    border-radius: var(--border-radius);
    overflow: hidden;
    width: 68rem;
    max-height: 27rem;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.card_leftpannel { grid-area: 1 / 1 / 3 / 4; }
.card_rightpannel { grid-area: 1 / 4 / 3 / 5; }
.header { grid-area: 1 / 1 / 2 / 4; }
.numbers { grid-area: 2 / 1 / 3 / 4; }
#stats1 { grid-area: 2 / 1 / 3 / 2; }
#stats2 { grid-area: 2 / 2 / 3 / 3; }
#stats3 { grid-area: 2 / 3 / 3 / 4; }


.card_leftpannel{
	padding: 2.9rem 2.9rem;
	display: flex;
	flex-direction: column;
}

.card_leftpannel_header {
	margin-bottom: 1.5rem;
}

.card_leftpannel_header h1 {
	color: var(--clr-white);
	margin-bottom: 1.5rem;
	font-size: 2.3rem;
}

.card_leftpannel_header span {
	color: var(--clr-accent);
}

.card_leftpannel_header p {
    color: var(--clr-main-p);
	margin-right: 5rem;
}

.card_leftpannel_numbers {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 2rem;
	margin-right: 7rem;
	line-height: 1;
}

.stats_value {
    color: var(--clr-white);
    font-size: 1.5rem;
    font-weight: var(--fw-700);
    margin: 0;
}
 
.stats_type { 
    color: var(--clr-stat-h);
    text-transform: uppercase;
    font-family: var(--ff-secondary);
    font-size: 0.7rem;
}

.card_rightpannel {
	background: var(--clr-accent);
}

.card_rightpannel img {
	mix-blend-mode: multiply;
	opacity: 0.75;
}

.card_img--mobile {
	display: none;
}

@media only screen and (max-width: 70rem) {
	.card {
		max-width: 20.6rem;
		max-height: 49rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

    .card_img--desktop {
    	display: none;
    }

    .card_img--mobile{
    	display: block;
    	max-width: 100%;
    }

    .card_leftpannel {
        text-align: center;
        padding: 2rem 2rem;
    }

    .card_leftpannel_header {
    	margin: 0;
    }

    .card_leftpannel_header h1 {
    	font-size: 1.7rem;

    }
    .card_leftpannel_header p {
    	text-align: center;
    	font-size: 0.9rem;
    	margin: 0 0.5rem;
    	line-height: 1.5rem;    
    }

    .card_leftpannel_numbers {
        flex-direction: column;
        margin: 2rem 0 0 0;
    }

    #stats2 {
    	margin: 1rem 0;
    }

    .stats_value {
    	font-size: 1.5rem;
    }


}



















